[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
snapshottest = "*"
pytest = "*"
v = {editable = true,version = "*"}
nose = "*"
nose-watch = "*"
pdoc = "*"
ipdb = "*"
ipdbplugin = "*"

[packages]
sympy = {git = "https://github.com/micahscopes/sympy.git",ref = "2f7e14edfe54e4e7a5eac4240c089c367444f714"}
galgebra = {editable = true,git = "https://github.com/pygae/galgebra.git",ref = "a962ddcf74c14899c7999c217d2a0412de36cf94"}
click = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prerelease = true
allow_prereleases = true
